h1 { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
   font-weight: 200;
   font-style: italic;
   text-align: center;
   color: firebrick;
   text-decoration: underline;
   line-height: 50%;
   letter-spacing: 0rcap;
   
   
    
    }
body {
background-color: beige;

}

p{
    text-align: center;
    font-size: xx-large;
}
a{ 
color: darkred;
}

h1{
    font-size: xx-large;
    
}

